<%- include('../../layouts/header'); %>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Faqs</li>
          <li class="breadcrumb-item active"><%= title; %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h4 class="card-title"><%= title; %></h4>
          </div>
          <div class="card-body">
            <form method="POST" data-form="true" data-url="/admin/portal/faqs/add">
              <% if(is_update == true){ %>
              <input type="hidden" name="action_id" value="<%= action_data._id; %>">
              <% } %>
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Title" value="<% if(is_update == true){ %><%= action_data.title; %><% } %>" required>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description" placeholder="Description" required><% if(is_update == true){ %><%= action_data.description; %><% } %></textarea>
              </div>
              <div class="form-group">
                <label>Is Active</label>
                <select class="form-control" name="isActive" required>
                  <option value="true" <% if(is_update == true){ %><% if(action_data.isActive == true){__append('selected=""')}  %><% } %>>Yes</option>
                  <option value="false" <% if(is_update == true){ %><% if(action_data.isActive == false){__append('selected=""')}  %><% } %>>No</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary"><%= title; %></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../../layouts/footer'); %>